<div class="page-container">

    <h1>Burgers!</h1>

    <h2>Try one of these burgers!</h2>

    <ul>
        {{#each burgers}}
        {{#unless this.devoured}}

        <h5>{{this.id}}.{{this.burger_name}}
            <button type='submit' id={{this.id}} data-id="{{this.id}}">DEVOUR!</button>
        </h5>

        {{/unless}}
        {{/each}}
    </ul>

    <h2>Devoured Burgers!</h2>

    <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
            <h5 {{this.id}}. {{this.burger_name}}</h5>
        </li>
        {{/if}}
        {{/each}}
    </ul>

    <h2>Name your own burger!</h2>
    <form>
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>

</div>